.login-container {
    width: 77%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px groove;
}

.login-data-field {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 15px;
}

#login-btn {
    padding: 7px;
    border: none;
    color: white;
    background: green;
    width: 12rem;

}

.login-data-field input {
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}