.adduser-container {
    height: 100vh;
    margin-top: 5rem;
}

.back-btn {
    display: flex !important;
    justify-content: flex-start !important;
    margin-left: 5rem !important;
}


.adduser-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22rem;
    gap: 20px;
    border: 1px solid;
    margin-left: 5rem;
    margin-right: 5rem;
}

.userdetail-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.adduser-buttons {
    color: white;
    background-color: green;
    border: none;
    padding: 7px;
    margin-bottom: 20px;
    width: 6%;
    font-weight: bold;
}

#job-desc {
    width: 11.7rem;
    height: 25px;
}

#error-msg {
    color: red;
}