.backbtn-userdetails {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.user-details {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 28px;
}

.userdetail-box {
    border: 1px solid;
    padding: 13px;
    height: 14.2rem;
}

#userdetail-img {
    height: 16rem;
}

.textalign-userdetail {
    text-align: start;

}

#back-button {
    background: #27c6cf;
    border: none;
    padding: 7px;
    font-weight: bold;
    color: white;
    width: 21%;
}